* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: linear-gradient(#8257E5, #271A45) fixed;
}

.container {

	max-width: 1280px;
	margin: 0 auto;

	h1 {
			font-family: "Rubik";
			font-weight: 500;
			font-size: 20px;
			color: #fff;
	}

	span {
			font-family: "Rubik";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: rgba(0, 0, 0, 0.64);
	}

	strong {
			font-family: "Rubik";
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: rgba(0, 0, 0, 0.88);

		 
	}

	.mt {
			margin-top: 24px;
	}

	.initial {
			margin-top: 10px;
			font-size: 40px;
			font-weight: 500;
	}

	p {
			font-family: "Rubik";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: rgba(0, 0, 0, 0.88);
	}

	.tend {
			text-align: end;
	}

	hr {
			width: 279px;
			height: 0;
			background: #FFF;
			border: 1px dashed rgba(0, 0, 0, 0.32);
	}

	header {
			width: 327px;
			margin-top: 20px;
			padding: 24px 32px;
			border-radius: 24px;
			background: #fff;
			justify-content: space-between;

			div {
					display: flex;
					justify-content: space-between;
			}
	}

	main {
			width: 327px;
			padding: 24px 32px;
			border-radius: 24px;
			background: #fff;
			justify-content: space-between;

			div {
					display: flex;
					justify-content: space-between;
			}

			
	}

	section {
			width: 327px;
			padding: 24px 32px;
			border-radius: 24px;
			background: #fff;
			justify-content: space-between;
	}
}